::-webkit-scrollbar{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: row;
}
p{
    color: white;
    margin: 0 auto;
}



#songs{
    width: 26.6vw;
    height: 100vh;
    order: 1;
    background-color: #000;
    overflow: scroll;
}
.songitem{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 3vh auto;
}
.playlist_songitem{
    width: 46.8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5vh auto;
}
.song{
    color: white;
    order: 2;
    margin: auto 2.5vw;
}
.playlist_song{
    color: white;
    order: 2;
    margin: auto 0.5vw auto 0.5vw;
    text-align: center;
}
.circle{
    width: 15px;
    height: 15px;
    border: 10px #00C2FF solid;
    border-radius: 100vw;
    order: 1;
    margin-left: 2.5vw;
    cursor: pointer;
}
.playlist_circle{
    width: 15px;
    height: 15px;
    border: 10px #00C2FF solid;
    border-radius: 100vw;
    order: 1;
    margin-left: 2.5vw;
    cursor: pointer;
}
.rembtn{
    background-image: url("img/delete.png");
    background-size: cover;
    width: 25px;
    height: 25px;
    margin-right: 2.5vw;
    order: 3;
    cursor: pointer;
}
#songs_head{
    color: white;
    text-align: center;
    font-weight: lighter;
    margin-top: 5vh;
    margin-bottom: 5vh;
}




#MyPlaylist{
    width: 46.8vw;
    height: 100vh;
    order: 2;
    background-color: #17313A;
}
#playlist{
    width: 46.8vw;
    height: 56vh;
    margin: auto;
    overflow: scroll;
    margin-top: 2.5vh;
    display: flex;
    flex-direction: column;
}
#playlist_head{
    color: white;
    margin-top: 10vh;
    text-align: center;
    font-weight: lighter;
}





#savebtn{
    background-color: white;
    border: 1px white solid;
    border-radius: 20px;
    height: 5vh;
    width: 12.5vw;
    font-size: large;
    margin-top: 1vh;
}







#bardiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7.5vh;
}
#stime{
    color: white;
    margin-right: 1vw;
}
#main-bar{
    height: 1vh;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(95,0,128,1) 100%);
}
#black-bar{
    height: 1vh;
    width: 37.5vw;
    margin: auto;
    background-color: black;
}
#edtime{
    color: white;
    margin-left: 1vw;
}
#loading{
    color: white;
    width: auto;
    margin: auto;
}








.btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-size: cover;
    margin: 0 1vw;
    cursor: pointer;
}
#btndiv{
    margin-top: 2.5vh;
}
#shufflebtn{
    background-image: url('img/shuffle.png');
}
#prevbtn{
    background-image: url("img/prev.svg");
    width: 25px;
    height: 25px;
}
#playbtn{
    background-image: url("img/play.svg");
    /* background-image: url(pause.svg); */
}
#nextbtn{
    background-image: url("img/next.svg");
    width: 25px;
    height: 25px;
}
#clearbtn{
    background-image: url("img/clear.png");
}







#playing{
    width: 26.6vw;
    height: 100vh;
    order: 3;
    background-color: #43575E;
}
#playing_head{
    color: white;
    font-weight: lighter;
    text-align: center;
    margin-top: 5vh;
}
#playing_img{
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vw;
    width: 20vw;
    margin: auto;
    border-radius: 20px;
    margin-top: 5vh;
}
#playing_name{
    color: white;
    text-align: center;
    margin-top: 2.5vh;
}





#changebtn{
    width: 40px;
    height: 40px;
    background-image: url("img/flip.png");
    background-color: black;
    background-size: cover;
    border: none;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 2%;
    left: 2%;
}





.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width:1279px){
    #black-bar{
        width: 70vw;
    }
    #playing{
        display: none;
    }
    #MyPlaylist{
        width: 100vw;
        display: none;
    }
    #songs{
        width: 100vw;
    }
    #changebtn{
        display: inline-block;
    }
    .playlist_songitem{
        width: 80vw;
    }
    #savebtn{
        width: 25vw;
        height: 4vh;
        font-size: small;
    }
    #savebtndiv{
        margin-top: 1vh;
    }
    #playlist{
        width: 80vw;
        font-size: small;
    }
}